main {
    padding-inline: var(--spc-default);
}

.section {
    display: grid;
    gap: 1px;
    border-radius: var(--spc-default);
    background-color: var(--shadow);
}

.section:nth-of-type(2) {
    margin-block: var(--spc-md);
}

.section:nth-of-type(3) {
    margin-bottom: var(--spc-md);
}

.accordion {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: var(--spc-default);
}

.accordion:hover,
.accordion:focus-visible {
    outline: 2px solid var(--hover-color);
}

.accordion h2 {
    color: var(--color);
    margin-left: var(--spc-default);
}

.accordion svg {
    color: var(--color);
    margin-left: auto;
    margin-right: var(--spc-default);
}

.svg-open {
    display: none;
}

.section-content {
    display: none;
}

#plains[aria-expanded="true"] + .section-content,
#vallis[aria-expanded="true"] + .section-content,
#cambion[aria-expanded="true"] + .section-content {
    display: initial;
    border-top: 2px solid var(--black-25);
    padding: var(--spc-sm) var(--spc-default);
}

.container {
    display: grid;
}

.container h3 {
    text-align: center;
}

.container p {
    max-width: 70ch;
}

.table-info {
    margin-top: var(--spc-default);
    text-align: center;
}

.standing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.standing p:nth-child(1),
.standing p:nth-child(2),
.standing p:nth-child(3) {
    background-color: var(--black-25);
}

.standing p {
    outline: 1px solid lightgray;
    padding: var(--spc-xsm);
}

.standing p {
    font-size: var(--fs-xsm);
}

@media (min-width: 43.75em) {
    .section {
        margin-inline: auto;
        max-width: 80em;
    }

    #plains[aria-expanded="true"] + .section-content,
    #vallis[aria-expanded="true"] + .section-content,
    #cambion[aria-expanded="true"] + .section-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spc-default);
    }

    .standing p {
        font-size: var(--fs-sm);
    }
}